<div id='container'>
  <navbar></navbar>
  <form name="addRouteForm" ng-submit="addRoute()">
    <input name="routeNameInput" ng-model="name" class="routeNameField"></input>
    <input name="routeDescriptionInput" ng-model="description" class="routeDescriptionField"></input>
    <input name="routeDayFrequencyInput" ng-model="daytime_frequency" class="routeDayFrequencyField"></input>
    <input name="routePeakFrequencyInput" ng-model="peak_frequency" class="routePeakFrequencyField"></input>
    <input name="routeOffhoursFrequencyInput" ng-model="offhours_frequency" class="routeOffhoursFrequencyField"></input>
    <input name="routeStartInput" ng-model="service_start" class="routeStartField"></input>
    <input name="routeEndInput" ng-model="name" class="routeEndField"></input>
    <button>Create Route</button>
    <a href="#/routes">View Routes</a>
  </form>
</div>
